.html {
  * {
    font-family: "Ubuntu" !important;
    font-size: 17px;
    color: #333;
    line-height: 180%;
  }

  .youtube {
    width: 100%;
    position: relative;
    padding-bottom: 53%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bolder;
    margin-bottom: 24px;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
