@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "./colors.scss";
@import "./utils.scss";

@import "./html.scss";
// font-family: 'Lato', sans-serif;
//font-family: 'Poppins', sans-serif;

* {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.container-fluid {
  max-width: 1250px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // letter-spacing: 2px;
}

.letter-spacing {
  letter-spacing: 2px;
}

//
a {
  color: $dark;
  transition: 128ms;

  small {
    color: #6c757d;
    &:hover {
      transition: 256ms;
      color: $primary;
    }
  }

  &:hover {
    transition: 256ms;
    color: $primary;
    text-decoration: none;
  }
}

.btn {
  &:active,
  &:focus,
  &:active {
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn-dark {
  &:hover,
  &:active,
  &:focus {
    border-color: $primary !important;
    background-color: $primary !important;
  }
}

.btn-danger {
  background-color: $primary;
}

//
.form-control {
  font-size: 13px;
  border: 1px solid #fff;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:focus,
  &:active {
    border: 1px solid $darker;
  }
}
